.input {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  text-align: right;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  background-color: hsl(189, 41%, 97%);
  margin-top: 0.4rem;
  outline: 2px solid hsl(189, 41%, 97%);
  transition: all 0.12s linear;
  cursor: pointer;
  border-radius: 0.35rem;
  width: 100%;
}
.input:hover, .input:focus {
  outline-color: hsl(172, 67%, 45%);
  transition: all 0.12s linear;
}
.input::placeholder {
  color: hsl(184, 14%, 56%);
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}

.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper__symbol {
  position: absolute;
  top: 52%;
  left: 1rem;
  transform: translate(0%, -50%);
  z-index: 2;
  width: 0.8rem;
  font-size: 1.5rem;
  color: hsl(184, 14%, 56%);
}

.input-title {
  font-size: 1rem;
  color: hsl(186, 14%, 43%);
}

.input-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.active {
  color: hsl(183, 100%, 15%) !important;
  background-color: hsl(172, 67%, 45%) !important;
}

.error {
  color: orangered;
  outline-color: orangered;
  visibility: visible;
}
.error:focus {
  outline-color: orangered;
}

.unavailable {
  opacity: 0.2;
  cursor: not-allowed !important;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
}

body, input, button, p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  max-width: 425px;
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    max-width: 860px;
    gap: 2.5rem;
    padding: 2rem;
  }
}
.bill {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .bill {
    grid-column: 1;
  }
}
.people-amount {
  display: flex;
  flex-direction: column;
}

#peopleError {
  visibility: hidden;
}

@media (min-width: 1024px) {
  .people-amount {
    grid-column: 1;
  }
}
.result {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  background-color: hsl(183, 100%, 15%);
  padding: 1.5rem;
  gap: 2rem;
}
.result__btn {
  border-radius: 0.35rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: hsl(172, 67%, 45%);
  text-transform: uppercase;
  padding: 0.75rem;
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  transition: all 0.15s ease-in;
}
.result__btn:hover {
  filter: brightness(1.2);
  transition: all 0.15s linear;
}

.result-tip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.result-tip__title {
  color: hsl(0, 0%, 100%);
}
.result-tip__subtitle {
  color: hsl(186, 14%, 43%);
}
.result-tip__tip {
  font-size: 1.75rem;
  color: hsl(172, 67%, 45%);
}

@media (min-width: 1024px) {
  .result {
    grid-column: 2;
    grid-row: 1/4;
    justify-content: space-between;
  }
}
.select-tip__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  width: 100%;
  margin-top: 1rem;
}
.select-tip__btn {
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.select-tip__btn:hover {
  color: hsl(183, 100%, 15%);
  filter: brightness(1.2);
  background-color: hsl(172, 67%, 45%);
  transition: all 0.15s linear;
}
.select-tip__btn:last-child, .select-tip__btn:last-child::placeholder {
  max-width: 142px;
  font-size: 1.6rem;
  text-align: right;
  color: hsl(186, 14%, 43%);
  background-color: hsl(189, 41%, 97%);
  margin: 0;
}

@media (min-width: 1024px) {
  .select-tip {
    grid-column: 1;
  }
  .select-tip__btns {
    grid-template-columns: repeat(3, 1fr);
  }
  .select-tip__btn {
    width: 112px;
    height: 2.8rem;
  }
  .select-tip__btn:last-child, .select-tip__btn:last-child::placeholder {
    font-size: 1.2rem;
  }
}